{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}



    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="flex justify-end">
        <a class="custom-button " href="{{ path('app_category_create') }}">Ajouter une catégorie</a>
            </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="w-full" scope="col " class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>

            </tr>
            </thead>
            <tbody>
            {% for category in categories %}

            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="{{ path('app_category_detail', {id: category.id}) }}">
                        <div class="w-full h-full">
                    {{category.name}}
                        </div>
                    </a>
                </th>
                <td class="px-6 py-4 flex gap-8">
                    <div>
                    <a href="{{ path('app_category_update', {id: category.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modifier</a>
                    </div>
                    <div>
                    <a href="{{ path('app_category_delete', {id: category.id}) }}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
                    </div>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
